/* styles.css */

.bar-bg {
    background-color: wheat; /* Change this color to fit your theme */
  }
  
  .line-bg {
    background-color: green; /* Change this color to fit your theme */
  }
  
  .pie-bg {
    background-color: whitesmoke; /* Change this color to fit your theme */
  }
  